.vs/
packages/
*.user
Stock.Host/bin/
Stock.Host/obj/
Stock.Client.Console/bin/
Stock.Client.Console/obj/
Stock.Wcf/bin/
Stock.Wcf/obj/
Stock.Client.Web/bin/
Stock.Client.Web/obj/
Stock.Core/bin/
Stock.Core/obj/