.vs/
packages/
*.user
Stock.Host/bin/
Stock.Host/obj/
Stock.Client.Console/bin/
Stock.Client.Console/obj/
Stock.Wcf/bin/
Stock.Wcf/obj/
Stock.Client.Web/bin/
Stock.Client.Web/obj/
Stock.Core/bin/
Stock.Core/obj/
Stock.Core.Migrations/bin/
Stock.Core.Migrations/obj/
Stock.WebService/Bin/
Stock.WebService/obj/
Stock.Database/
Stock.Core.Tests/bin/
Stock.Core.Tests/obj/