<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStockService" />
                <binding name="StockWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Stock.Wcf/StockService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStockService"
                contract="StockServiceReference.IStockService" name="BasicHttpBinding_IStockService" />
            <endpoint address="http://localhost:60341/StockService.asmx"
                binding="basicHttpBinding" bindingConfiguration="StockWebServiceSoap"
                contract="StockWebServiceReference.StockWebServiceSoap" name="StockWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
