@model Stock.Core.Dto.UserDto
    
<div class="list-group">
    @if (Model.Tickers != null)
            {
                foreach (var ticker in Model.Tickers)
                {
            <div class="list-group-item" title="@ticker.Company">
                @ticker.Company
                [@ticker.Code]
                @ticker.Price
                <span class="pull-right"><a class="delete-ticker" data-companyid="@ticker.Id" href="#"><i class="fa fa-trash-o"></i></a></span>
            </div>
        }
    }
</div>