@model Stock.Core.Dto.UserDto
@{
    ViewBag.Title = "Stock";
}

<div class="row">
    <div class="col-md-4">
        <input id="tags">
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(m => m.Name)
        @Html.DisplayFor(m => m.Email)

        @foreach (var ticker in Model.Tickers)
        {
            @Html.Display(ticker.Company)
            @Html.Display(ticker.Code)
            <br>
        }
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
        </p>
    </div>
</div>

@section scripts {
    <script type="text/javascript">alert('hello');</script>
}