@model Stock.Core.Dto.UserDto
@{
    ViewBag.Title = "Stock";
}

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">


            <div class="input-group">
                <input id="tickerSelector" type="text" class="form-control">
                <input id="companyId" type="hidden">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary" id="add-ticker">Add ticker</button>
                </div>
            </div>

        <div id="userTickers">
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>

@section scripts {
    <script type="text/javascript">

        function refreshUserTickers() {
            $.ajax({
                url: "/Home/GetUserTicker"
            })
            .success(function (data) {
                $("#userTickers").empty();
                $("#userTickers").append(data);
            });
        }

        $(function () {

            refreshUserTickers();
            setInterval(function () {
                refreshUserTickers();
            }, 10000);

            $("#add-ticker").click(function (event) {

                $.ajax({
                    url: "/Home/AddTicker",
                    data: { companyId: $('#companyId').val() }
                })
                .success(function (data) {
                    $("#tickerSelector").val("");
                    refreshUserTickers();
                });

            });

            $("#userTickers").on("click", ".delete-ticker", function (event) {
                
                var companyId = $(this).data("companyid");

                $.ajax({
                    url: "/Home/DeleteTicker",
                    data: { companyId: companyId }
                })
                .success(function (data) {
                    refreshUserTickers();
                });

            });

            $("#tickerSelector").autocomplete({
                minLength: 2,
                source: function (request, response) {
                    $.getJSON("/Home/CompaniesList", {
                            subString: request.term
                    },
                    function (data) {
                        var itemList = [];

                        $.each(data, function (key, val) {
                            var item = {
                                value: val.Id,
                                label: val.Name
                            };

                            itemList.push(item);
                        });

                        console.log(itemList); // Shows correct results
                        response(itemList);
                    });
                },
                select: function (event, ui) {
                    $('#companyId').val(ui.item.value);
                    $('#tickerSelector').val(ui.item.label);
                    return false;
                }
            });
        } );
    </script>
}